/software/PixieGuitar.X/nbproject/*.properties
/software/PixieGuitar.X/nbproject/*.bash
/software/PixieGuitar.X/nbproject/*.mk
/software/PixieGuitar.X/nbproject/private/
/software/PixieGuitar.X/build/default/
/software/PixieGuitar.X/dist/default/
